body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  display: flex;
}
  
a {
  font-weight: 500;
  color: #f17e97;
  text-decoration: inherit;
}
a:hover {
  color: #c0536a;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 2px 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f17e97;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #c0536a;
}

.foto {
  width: 300px;
  height: 300px;
}

.footer {
  background: #f17e97;
  padding: 0 0 10px 0;
  color: #fff;
  font-size: 14px;
}
.footer-top {
  padding:30px 0 30px 0;
}
.footer-info {
  margin-top: -60px;
  margin-bottom: 5px;
  background: white;
  color: #252627;
  border-top: 4px solid #f17e97;
  text-align: center;
  padding: 20px 40px;
}
h2 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
 p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}
 .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #f17e97;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.social-links a:hover {
  background: #c0536a;
  color: #fff;
  text-decoration: none;
}
 h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
 .footer-links {
  margin-bottom: 30px;
}
 .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer-links ul i {
  padding-right: 5px;
  color: #fdfbfd;
  font-size: 18px;
  line-height: 1;
}
.footer-links ul li:first-child {
  padding-top: 0;
}
.footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}
.footer-links ul a:hover {
  color: #eeb9c4;
}
.copyright {
  border-top: 1px solid #fdfeff;
  text-align: center;
  padding-top: 10px;
}



